<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoices: @ViewData["Title"]</title>

    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/images/favicon.ico" type="image/ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityApp.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">INVOICES</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Invoices/Index">Invoices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-primary">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                &copy; 2023 - IdentityApp - <a class="text-muted" asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
            <div class="d-flex">
                <a href="https://discordapp.com/users/yevhenko_" class="btn btn-primary btn-sm shadow-none" style="background-color: rgb(26, 26, 26);">
                    <img src="~/images/discord.svg" alt="Discord">
                </a>
                <a href="https://t.me/yevhenko" class="btn btn-primary btn-sm shadow-none" style="background-color: rgb(26, 26, 26); margin-left: auto;">
                    <img src="~/images/telegram.svg" alt="Telegram">
                </a>
                <a href="https://github.com/qboww" class="btn btn-primary btn-sm shadow-none" style="background-color: rgb(26, 26, 26);">
                    <img src="~/images/github.svg" alt="GitHub">
                </a>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
